{% extends 'base.html' %}
{% block i %}
<div class="chart-page">
    <div class="navb">
        <button id="heure-link">This Hour</button>
        <button id="aujourdhui-link">Today</button>
        <button id="mois-link">This Month</button>
    </div>

    <div class="graph-card">

        <div class="graphique">
            <canvas id="graphique-temp" height="1000" width="1500"></canvas>
        </div>

        <div class="graphique">
            <canvas id="graphique-hum" height="1000" width="1500"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const aujourdhuiLink = document.getElementById('aujourdhui-link');
        const semaineLink = document.getElementById('heure-link');
        const moisLink = document.getElementById('mois-link');

        function createChart(labels, dataValues, canvasId, label, borderColor) {
            const ctx = document.getElementById(canvasId).getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels,
                    datasets: [{
                        label,
                        data: dataValues,
                        backgroundColor: 'rgba(255,255,255,0.1)',
                        borderColor,
                        borderWidth: 2,
                        pointStyle: 'circle',
                        pointRadius: 4,
                        pointBackgroundColor: 'white',
                        pointBorderColor: borderColor,
                        pointBorderWidth: 2
                    }]
                },
                options: {
                    animation: {
                        duration: 1000,
                        easing: 'easeInOutQuart',
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: '#666',
                                callback: (value, index, values) => value + (canvasId.includes('temp') ? '°C' : '%'),
                            },
                            gridLines: {
                                color: 'rgba(0,0,0,0.35)'
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: '#666',
                                display: false
                            },
                            gridLines: {
                                color: 'rgba(0,0,0,0.1)'
                            }
                        }]
                    },
                    legend: {
                        display: true,
                        labels: {
                            fontColor: '#000000'
                        }
                    }
                }
            });
        }

        async function fetchDataAndCreateChart(url, canvasId, label, borderColor) {
            try {
                const response = await fetch(url);
                const data = await response.json();

                const { temps, temperature, humidity } = data;
                const startIndex = 0;

                const labels = temps.slice(startIndex);
                const temperatureData = temperature.slice(startIndex);
                const humidityData = humidity.slice(startIndex);

                createChart(labels, temperatureData, canvasId + '-temp', `${label} Temperature`, borderColor);
                createChart(labels, humidityData, canvasId + '-hum', `${label} Humidity`, borderColor);
            } catch (error) {
                console.error('Error fetching or processing data:', error);
            }
        }

        function setupChart(linkElement, fetchDataFunction) {
            linkElement.addEventListener('click', () => {
                fetchDataFunction();
            });
        }

        // Fetch and display charts for 'Today' on page load
        fetchDataAndCreateChart('/data_jour_json/', 'graphique', 'Today', 'rgba(0,0,0,0.62)');

        // Set up click events for other buttons
        setupChart(aujourdhuiLink, () => fetchDataAndCreateChart('/data_jour_json/', 'graphique', 'Today', 'rgb(0,0,0)'));
        setupChart(semaineLink, () => fetchDataAndCreateChart('/data_heure_json/', 'graphique', 'This Hour', 'rgb(0,0,0)'));
        setupChart(moisLink, () => fetchDataAndCreateChart('/data_mois_json/', 'graphique', 'This Month', 'rgb(0,0,0)'));
    });
</script>
{% endblock %}
