

    body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #fff;
}

    #LOGO {
    width: 150px;
    border-radius: 5px;

}


    #notify {
    width: 34px;
    border-radius: 5px;
    padding-right: 15px;
    transition: filter 0.3s;
}

    #notify:hover {
    filter: brightness(1.7);
}

    .navbar {
    /* display: flex; */
    background-color: #000000;
    color: #fff;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
   nav {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: center; */
}


    h2 {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        color: #fff;
    }

#ul1 {
    /* align-items: flex-end; */
    /* width: 159px; */
    display: flex;
    list-style: none;
    /* margin: auto; */
    padding: 0;
    /* margin-right: -4%; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
   #ul2 {
    display: flex;
    list-style: none;
    /* margin: auto; */
    padding: 0;
    margin-right: -1%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}



  li {
    /* size: 54px; */
    /* width: 51px; */
    /* background-color: #6f665100; */
    display: inline-block;
    /* margin-right: 15px; */
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: -3px -3px white; */
}


    a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

    a:hover {
    color: #1fa6d0;
}


    form {
        display: flex;
        align-items: center;
    }


